body,html {
	height: 100%;
}

*{
	margin: 0;
	padding: 0;
}

.capsa{
	position: relative;
	height: 200px;
	width: 200px;
	background: linear-gradient(red, yellow);
	border-radius: 100%;
	box-shadow: 10px 10px 5px #888888;
	z-index: 0;
}

#btn1{
	width: 50px;
	height: 50px;
	z-index: 1;
}

#btn2{
	width: 100px;
	height: 50px;
	z-index: 1;
}

#btn3{
	width: 100px;
	height: 50px;
	z-index: 1;
}

#btn4{

	width: 100px;
	height: 50px;
	z-index: 1;
}